
.main {
  background-color: rgb(244, 252, 255);
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  display:block;
  text-align: left;
}

button {
    font-size: 1em;
    padding: 0.5em 1em;
    background: white;
    border-color: white;
    border-radius: .5em;
}

.response-item {
    border: 1px solid rgb(150, 150, 150);
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    justify-content: space-between;
}
.response-item > span {
    /* border-right: 1px solid gray; */
    padding-right: .5em;
    width: 10%;
    text-align: center;
    height: 100%;
    font-weight: bold;
    /* background-color: blue; */
    display: flex;
}

.response-number {
    text-align: left;
    color: black;
    font-weight: 400;
    min-width: 50px;
    /* background-color: cyan; */
}