.app-header {
  padding: 10px;
  background-color: #282c34;
  color: white;
  text-align: left;
}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

h1 {
  text-align: center;
}

.App {
  text-align: center;
}

.question-card {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 248, 252);
  margin: 2em;
  padding: 1em;
  box-shadow:  5px 5px 5px rgb(0, 0, 0);
}

.form {
  color: black;
  /* min-width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
  text-align: center;
  /* border: 1px solid red; */
  padding: 1em;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.italic {
  text-align: left;
  font-style: italic;
}

input[type=radio].radio {
  border: 3px solid blue;
  width: 100%;
  display: inline-block;
  background-color: gray;
}

textarea {
  max-width: 100%;
  height: 50px;
}

.red {
  color: rgb(172, 0, 0);
}

.green {
  color: rgb(30, 150, 0);
}

h3 {
  margin: 0px 1em;
}